#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#hidden-text {
  display: none;
}

.clickable-text {
  cursor: pointer;
  color: #0088ee;
}
